/* Empty file for template. Remember to edit only this file and not the HTML file */
/* This are all the css selctors that need to be included in this css file
.class
.class1.class2
.class1 .class2
#id
*
element 
element.class
elemnet,element
element element
element>element
element+element
element1~element2
[attribute]
[attribute=value]
[attribute~=value]
[attribute|=value]
[attribute^=value]
[attribute$=value]
:active
::after
::before
:empty
:first-child
::first-letter
::first-line
:first-of-type
:focus
:hover
:last-child
:link
:not()
*/
* {
    background-color: #F2F5ED;
    margin: 0;
    padding: 0;
}

.sidebar {position: absolute; z-index: 11;
    width: 216px; top: 157px; right: 0;
    margin-top: 8.6em;}
  .sidebar a {color: rgb(99,131,101);
    font: italic 1.15em Times, serif;
    text-transform: lowercase;}
  .sidebar ul {margin: 0.5em 1em 0 2em; padding: 0;}
  .sidebar li {list-style: none;}
  
  .sidebar h3 {margin: 1em 0 0; width: 216px; height: 35px;
    background: url(resources.gif) 10px 50% no-repeat;}
  .design-selection h3 {background-image: url(design-list.gif);}
  .design-archives h3 {background-image: url(archives.gif);}
  .sidebar h3 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }


